/* FUENTE LOCAL */
@font-face {
    font-family: "gullia";
    src: url("../recursos/fuentes/gullia.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'gullia';
    color: rgb(77, 17, 77) !important;
}



/* Header Config */
header {
    background-image: linear-gradient(to right, rgb(252, 140, 252), rgb(248, 199, 125))
}

header img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: rgb(255 223 175);
}


/* Main Config */

main {
    background-image: linear-gradient(to right, rgb(252, 140, 252), rgb(248, 199, 125))
}

.titulos {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 60px;
}



.promos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "promo1 Promo2 promo3"
        "promo1 Promo2 promo3"
        "promo1 Promo2 promo3";
}

.promo1 {
    grid-area: promo1;
}

.Promo2 {
    grid-area: Promo2;
}

.promo3 {
    grid-area: promo3;
}


footer {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, rgb(252, 140, 252), rgb(248, 199, 125));
    padding-top: 10%;
}

footer ol { 
    display: flex;
    list-style: none;
    width: 20vw;
    justify-content: space-evenly;
}


.imagenServicios {
    width: 200px;
    height: 200px;
    margin-left: 20vw;

}

.imagenInicio {
    width: 100vw;
}

.nosotrosLayout{
    display: flex;
    justify-content: space-evenly;
}

.imagenCamila {
    padding-left:5vw;
    padding-right: 5vw;
    width: 50%;
}

.contactgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "FormZone ImageZone ImageZone"
        "FormZone ImageZone ImageZone"
        "FormZone NullZone NullZone";
}

.FormZone {
    grid-area: FormZone;
}

.labelContacto {
    margin-left: 10px;
}

.ImageZone {
    grid-area: ImageZone;
    display: flex;
}

.NullZone {
    grid-area: NullZone;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "labNom inpNom"
        "labApe inpApe"
        "labEmail inpEmail"
        "labServ inpServ"
        "labConsul inpConsul"
        "labConsul inpConsul";
}

.labNom {
    grid-area: labNom;
}

.labApe {
    grid-area: labApe;
}

.labEmail {
    grid-area: labEmail;
}

.labServ {
    grid-area: labServ;
}

.labConsul {
    grid-area: labConsul;
}

.inpNom {
    grid-area: inpNom;
}

.inpApe {
    grid-area: inpApe;
}

.inpEmail {
    grid-area: inpEmail;
}

.inpServ {
    grid-area: inpServ;
}

.inpConsul {
    grid-area: inpConsul;
    display: flex;
    flex-direction: column;
}

.imgContac {
    width: 50%;
    margin: auto;
}

.parrafos {
    text-align: center;
}

.customSize {
    width: 70%;
    margin: auto;
}


.letraParrafo {
    font-family: "gullia";
    text-align: center;
    font-size: medium;
    color: brown;

}

.promoStyle {
    text-align: center;
}

.promoStyle a {
    font-style: italic;
    text-decoration: none;
}

.promoStyle:hover {
    zoom: 130%;
}

.inputContacto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inputContacto:hover {
    background-color: hotpink;
}

.inputContacto:focus {
    zoom: 110%;
    font-weight: bold;
}

.buttonFormat {
    background-color: blueviolet;
    color: rgb(250, 209, 216) !important;
}

.buttonFormat:hover {
    background-color: rgb(250, 209, 216);
    color: blueviolet !important;
}


@keyframes atencion {
    0% {
        font-weight: bold;
    }

    25% {
        font-weight: normal;
    }

    50% {
        font-weight: lighter;
    }

    75% {
        font-weight: normal;
    }

    100% {
        font-weight: bold;
    }
}

.atencionMove {
    animation-name: atencion;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: .5s;
}

.consejoLayout {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.consejoLayout p {
    width: 50vw;
}


/* Responsive tamaño mediano */
@media (max-width: 768px) {
    footer{
        font-size: small;
    }

    .nosotroParrafo p{
         font-size: small;
    }

    .consejoLayout iframe{
        width: auto;
    }
    .consejoLayout p{
        font-size: small;
    }



}

/* Responsive tamaño pequeño */
@media (max-width: 420px) {

    footer{
        flex-direction: column;
        align-items: center;
    }


    .form-grid{
        display: flex;
        flex-direction: column;
    }

    .form-grid label{
        display: none;
    }

    .contactgrid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .nosotrosLayout{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .imagenCamila{
        width: 60vw;
        padding: 0;
    }

    .consejoLayout {
        flex-direction: column;
        align-items: center;
    }


}