/* FUENTE LOCAL */
@font-face {
    font-family: "gullia";
    src: url("../../res/font/gullia.otf");
    
}
$tipo: 'gullia';

.formatoExtend{
    background-color:$resaltar;
    font-weight: bold;
    font-style: italic;
}
