header {
    background-image: linear-gradient(to right, rgb(252, 140, 252), rgb(248, 199, 125));
     img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: rgb(247, 215, 167);
    }

    .nav-item{
        &:hover{
            a{
                font-size: 120%;
                font-weight: bold;
            }
        }

    }
}
