main {
    background-image: linear-gradient(to right, rgb(252, 140, 252), rgb(248, 199, 125));
}

.titulos {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 60px;
}


.promos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "promo1 Promo2 promo3"
        "promo1 Promo2 promo3"
        "promo1 Promo2 promo3";
}

.promo1 {
    grid-area: promo1;
}

.Promo2 {
    grid-area: Promo2;
}

.promo3 {
    grid-area: promo3;
}





.imagenServicios {
    width: 200px;
    height: 200px;
    margin-left: 20vw;

}

.imagenInicio {
    width: 100vw;
}

.nosotrosLayout {
    display: flex;
    justify-content: space-evenly;
}

.imagenCamila {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 50%;
}

.contactgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "FormZone ImageZone ImageZone"
        "FormZone ImageZone ImageZone"
        "FormZone NullZone NullZone";
}

.FormZone {
    grid-area: FormZone;
}

.labelContacto {
    @extend .formatoExtend;
    margin-left: 10px;
}

.ImageZone {
    grid-area: ImageZone;
    display: flex;
}

.NullZone {
    grid-area: NullZone;
}


.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "labNom inpNom"
        "labApe inpApe"
        "labEmail inpEmail"
        "labServ inpServ"
        "labConsul inpConsul"
        "labConsul inpConsul";
}

.labNom {
    grid-area: labNom;
}

.labApe {
    grid-area: labApe;
}

.labEmail {
    grid-area: labEmail;
}

.labServ {
    grid-area: labServ;
}

.labConsul {
    grid-area: labConsul;
}

.inpNom {
    grid-area: inpNom;
}

.inpApe {
    grid-area: inpApe;
}

.inpEmail {
    grid-area: inpEmail;
}

.inpServ {
    grid-area: inpServ;
}

.inpConsul {
    grid-area: inpConsul;
    display: flex;
    flex-direction: column;
}

.imgContac {
    width: 50%;
    margin: auto;
}

.parrafos {
    text-align: center;
}

.customSize {
    width: 70%;
    margin: auto;
}


.letraParrafo {
    font-family: "gullia";
    text-align: center;
    font-size: medium;
    color: brown;

}

.promoStyle {
    text-align: center;
}

.promoStyle a {
    font-style: italic;
    text-decoration: none;

    &:hover {
        zoom: 130%;
    }
}

.inputContacto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    &:hover {
        background-color: hotpink;
    }

    &:focus {
        zoom: 110%;
        font-weight: bold;
    }
}


.buttonFormat {
    background-color: $violeta;
    color: rgb(250, 209, 216) !important;

    &:hover {
        background-color: rgb(250, 209, 216);
        color: $violeta !important;
    }
}




.consejoLayout {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;

    p {
        width: 50vw;
    }
}

.carousel-item {
    img{
        width: 70vw;
    }

    .carousel-caption {
        p {
            @extend .formatoExtend;
        }
    }
}